// @media (max-width: 1200px) {
//     .parallax__image {bottom: -50px; width: 110%;}
// }
// @media (max-width: 768px) {
//     .parallax__image {bottom: -50px; width: 150%;}
// }
// @media (max-width: 480px) {
//     .parallax__image {width: 200%;}
// }