extends ../main.layout.pug

block variables
  - var title = 'Обо мне'
  - var titleSVG = 'portfolio_header'

block scripts
  script(src='about.bundle.js')

block content
  include ../common/about.pug
  include ../common/map.pug