extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content

  section.hero
    
    .hero__socials
      ul.socials
        each social in ['vk', 'github', 'in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
    
    .hero__menu
      .nav-trigger
        a(href="#").nav-trigger__link
          span.nav-trigger__badge

    .hero__content
      +svg('portfolio_header', 'page title', 'title-svg')
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('content/user/man.png', 'User avatar', 'user__pic-img')
          .user__info
            h4.user__name Лицкевич Роман
            p.user__text Личный сайт веб разработчика
            
    .hero__arrow-down
      .arrow-down
        button.arrow-down__button
          +svg('arrow_down', 'arrow down', 'arrow-down__button-svg')
  
  section.about
    .about__col.about__col--background-white.about__col--display-flex
      .about__col-svg
        +svg('about_header', 'about', 'about__col__left-svg')
      .about__left-title.about__left-title--width
        h1.title Обо мне
      .about__user-info.about__user-info--width
        .user-info
          .user-info__avatar
            +image('content/user/man.png', 'User avatar', 'user-info__avatar-img')
          .user-info__title
            h2.subtitle Кто я
            .user-info__text.text-block
              p Я веб разработчик из Калининграда. Мне 29 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!


    .about__col.about__col--background-beige
      h2.subtitle
        | Чем я могу быть 
        | вам полезен
      .about__desc-text.text-block
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__content
        - 
          var skills = [
              ['Frontend', [['HTML5', 30], ['CSS3', 50], ['JavaScript & jQuery', 70]]],
              ['Backend', [['PHP'], ['mySQL'], ['Node.js & npm', 'Mongo.db']]],
              ['WorkFlow', [['Git'], ['Gulp'], ['Bower']]],
          ]
        ul.skills__list
          each skillsrow in skills
            li.skills__item.skills-row
              .skills-row__title #{skillsrow[0]}
              ul.skills-row__list
                each skill in skillsrow[1]
                  li.skills-row__item
                    figure.skill(data-percents="80")
                      svg.skill__figure
                        circle(cx="55" cy="55" r="45").skill__circle.skill__circle_under
                        circle(cx="55" cy="55" r="45").skill__circle.skill__circle_above
                      .skill__title #{skill[0]}