extends ../main.layout.pug

block variables
  - var title = 'Обо мне'
  - var titleSVG = 'portfolio_header'
  - var userTitleClass = 'user__title'
  - var userTextClass = 'user__text'
  - var userTitle = 'Лицкевич Роман'
  - var userText = 'Личный сайт веб разработчика'
  - var userImage = 'content/user/man.png'
  - var scrollDown = '#about'

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA71gW310_7IFOq2VL5ArBmFPiwgHz50Jc")
  script(src='about.bundle.js')

block content
  include ../common/about.pug
  include ../common/map.pug