extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var titleSVG = 'blog_header'
  - var userTitleClass = 'user__title user__title--blog'
  - var userTextClass = 'user__text'
  - var userTitle = 'Блог'
  - var userText = 'Статьи, которые я написал'
  - var userImage = 'content/user/man.png'

block scripts
  script(src='blog.bundle.js')

block content
  include ../common/blog.pug
  