extends ../auth.layout.pug
block variables
  - var userTitleClass = 'user__title user__title--welcome'
  - var userTextClass = 'user__text user__text--welcome'
  - var userTitle = 'Лицкевич Роман'
  - var userText = 'Личный сайт веб разработчика'
  - var userImage = 'content/user/man.png'

block content
  include ../common/parallax.pug
  include ../common/welcome.pug
  include ../common/popup.pug