section.about
    include ./triangles.pug
    .about__col.about__col--background-white
      .about__col-content.about__col-content--display-flex
        .about__left-title.about__left-title--width
          h1.title Обо мне
          .about__left-title-bg-picture
            +icon('about_header', 'about__left-title-bg-svg')
        .about__user-info.about__user-info--width
          include ./user-info.pug

    .about__col.about__col--background-beige
      .about__col-content.about__col-content--right
        h2.subtitle.subtitle--text-center.subtitle--margin-bottom
          | Чем я могу быть
          | вам полезен
        .about__desc-text.text-block
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__content
          include ./skills.pug