.blog__nav
  - 
    var nav = [
        {
            text: 'Самое важное в SASS',
            link: '#',
            data: 'first'
        },
        {
            text: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
            link: '#',
            data: 'second'

        },
        {
            text: 'Самый необходимый набор Gulp плагинов',
            link: '#',
            data: 'third'
        },
        {
            text: 'Почему я выбрал Jade',
            link: '#',
            data: 'fourth'
        }
    ]
  ul.blog__nav__list
    each item in nav
      li.blog__nav__item
        a(href=`${item.link}` data-name=`${item.data}`).blog__nav__link #{item.text}
      
  
  
  