block variables

section.hero
      
    .hero__socials
      - 
        var socials = [
            {
                img: 'vk',
                link: 'https://vk.com/eeehooo'
            },
            {
                img: 'github',
                link: 'https://github.com/rlickevich'
            },
            {
                img: 'in',
                link: '#'
            }
        ]
      +socials('header')

    .hero__menu
      include ./nav-trigger.pug
    .hero__content
      .hero__content-bg-picture
        +icon(titleSVG, 'title-svg')
      .hero__user
        +user(userTitleClass, userTextClass, userTitle, userText)        
    .hero__arrow-down
      include ./arrow-down.pug