nav(class="menu-nav--" + modif).menu-nav
  - 
    var menu = [
        {
            text: 'Мои работы',
            link: '/works.html'
        },
        {
            text: 'Обо мне',
            link: '/about.html'
        },
        {
            text: 'Блог',
            link: '/blog.html'
        },
        {
            text: 'Авторизация',
            link: '/index.html'
        },
    ]
  ul(class="menu-nav__list--" + modif).menu-nav__list
    each item in menu
      li(class="menu-nav__item--" + modif).menu-nav__item
        a(href=`${item.link}` class="menu-nav__link--" + modif).menu-nav__link #{item.text}