nav(class="menu-nav--" + modif).menu-nav
  - 
    var menu = [
        {
            text: 'Мои работы',
            link: 'https://rlickevich.github.io/myPortfolio/works.html'
        },
        {
            text: 'Обо мне',
            link: 'https://rlickevich.github.io/myPortfolio/about.html'
        },
        {
            text: 'Блог',
            link: 'https://rlickevich.github.io/myPortfolio/blog.html'
        },
        {
            text: 'Авторизация',
            link: '#'
        },
    ]
  ul(class="menu-nav__list--" + modif).menu-nav__list
    each item in menu
      li(class="menu-nav__item--" + modif).menu-nav__item
        a(href=`${item.link}` class="menu-nav__link--" + modif).menu-nav__link #{item.text}