.parallax
  .parallax__layer
    img(src="./assets/images/parallax/9-layer8.png", alt="").parallax__image
  .parallax__layer
    img(src="./assets/images/parallax/8-layer7.png", alt="").parallax__image
  .parallax__layer
    img(src="./assets/images/parallax/6-layer6.png", alt="").parallax__image
  .parallax__layer
    img(src="./assets/images/parallax/5-layer4.png", alt="").parallax__image
  .parallax__layer
    img(src="./assets/images/parallax/3-layer2.png", alt="").parallax__image
  .parallax__layer
    img(src="./assets/images/parallax/2-layer1.png", alt="").parallax__image
  