.preloader
  img(src="./assets/images/bg/preloader.jpg").preloader__image
  ul.preloader__list
    li.preloader__item.preloader__item--out
    li.preloader__item.preloader__item--mid
    li.preloader__item.preloader__item--in
  .preloader__text
    span.preloader__num 
    span.preloader__per  %