.school-site
  .school-site__title
    h2.subtitle Сайт школы онлайн образования
  .school-site__tools HTML, CSS, JAVASCRIPT
  a.school-site__button
    span.school-site__button__picture
      +icon('link', 'school-site__button__svg')
    span.school-site__button__text Посмотреть сайт