.skills    
  - 
    var skills = [
      ['Frontend', [['HTML5'], ['CSS3'], ['JavaScript & jQuery']]],
      ['Backend', [['PHP'], ['mySQL'], ['Node.js & npm'], ['Mongo.db']]],
      ['WorkFlow', [['Git'], ['Gulp'], ['Bower']]],
    ]
  ul.skills__list
    each skillsrow in skills
      li.skills__item.skills-row
        .skills-row__title #{skillsrow[0]}
          ul.skills-row__list
            each skill in skillsrow[1]
              li.skills-row__item
                figure.skill(data-percents="80")
                  svg.skill__figure(width="120" height="120")
                    circle(cx="60" cy="60" r="50").skill__circle.skill__circle--under
                    circle(cx="60" cy="60" r="50").skill__circle.skill__circle--above
                  .skill__title #{skill[0]}