.slider
  .slider__about
    include ./school-site.pug
  .slider__content
    .slider__picture
      +image('content/works/work-2.png', 'work 2', 'slider__img')
    .slider__controls
      .slider__controls__button.slider__controls__button--next
        +image('content/works/work-3.png', 'work 3', 'slider__button__img')
      .slider__controls__button.slider__controls__button--prev
        +image('content/works/work-1.png', 'work 1', 'slider__button__img')
