.slider
  .slider__about
    include ./school-site.pug
  //- .slider__content
  //-   .slider__content__container
  //-     .slider__picture
  //-       .slider__picture__container
  //-         +image('content/works/work-2.png', 'work 2', 'slider__img')
  //-     .slider__controls
  //-       .slider__controls__button.slider__controls__button--next
  //-         .slider__controls__button__container
  //-           +image('content/works/work-3.png', 'work 3', 'slider__button__img')
  //-         .slider__controls__button__arrow.slider__controls__button__arrow--next
  //-           +icon('arrow_down', 'slider__controls__button__arrow__svg')
  //-       .slider__controls__button.slider__controls__button--prev
  //-         .slider__controls__button__container
  //-           +image('content/works/work-1.png', 'work 1', 'slider__button__img')
  //-         .slider__controls__button__arrow.slider__controls__button__arrow--prev
  //-           +icon('arrow_down', 'slider__controls__button__arrow__svg slider__controls__button__arrow__svg--prev')
