.user-info
  .user-info__avatar
      +image('content/user/man.png', 'User avatar', 'user-info__avatar-img')
  .user-info__title
    h2.subtitle Кто я
    .user-info__text.text-block
      p Я веб-разработчик из Калининграда. Мне 29 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!