.user
  .user__pic-container
    .user__pic
      +image('content/user/man.png', 'User avatar', 'user__pic-img')
  .user__info
    h4.user__title Лицкевич Роман
    p.user__text Личный сайт веб разработчика