.user-welcome
  .user-welcome__container
    .user-welcome__content
      +user(userTitleClass, userTextClass, userTitle, userText)
      .user-welcome__socials
        - 
          var socials = [
              {
                  img: 'vk',
                  link: 'https://vk.com/eeehooo'
              },
              {
                  img: 'github',
                  link: 'https://github.com/rlickevich'
              },
              {
                  img: 'in',
                  link: '#'
              }
          ]
        +socials('welcome')
    .user-welcome__buttons
      - 
        var buttons = [
            {
              text: "Мои работы",
              link: "#"
            },
            {
              text: "Обо мне",
              link: "#"
            },
            {
              text: "Блог",
              link: "#"
            }
        ]
      ul.user-welcome__buttons__list
        each item in buttons
          li.user-welcome__buttons__item
            a(href=`${item.link}`).user-welcome__buttons__link #{item.text}
        

