section.welcome
  .welcome__auth
    a(href="#").welcome__auth__button Авторизоваться
  include ./user-welcome.pug
  .welcome__copyright
    h2.copyright 
      | © Лицкевич Роман 
      | | создано с любовью в LoftSchool | 2019 