section.works#works

  +triangles('triangles__svg--works', 'triangles__svg--works')

  .works__title
    .works__title__bg-picture
      +icon('works_header', 'works__title__bg-picture__svg')
    h1.title.title--works Мои работы 
  .slider__container
    #slider-component