section.works

  +triangles('triangles__svg--works', 'triangles__svg--works')

  .works__title
    .works__title__bg-picture
      +icon('works_header', 'works__title__bg-picture__svg')
    h1.title Мои работы
  .works__content
    include ./slider.pug 
      