include ./common/_mixins
include ./common/user
include ./common/socials
block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js")
    link(rel="icon" type="image/x-icon" href="./assets/images/favicon/favicon.ico")
    link(rel="stylesheet", href="main.min.css")
  body
    include ./common/preloader.pug
    .wrapper  

      block content

    script(src="auth.bundle.js")