include ./common/_mixins
include ./common/triangles
include ./common/user
include ./common/socials
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    link(rel="icon" type="image/x-icon" href="./assets/images/favicon/favicon.ico")
    link(rel='stylesheet' href='main.min.css')
  body
    .wrapper
      .maincontent
        include ./common/header.pug
        block content

      include ./common/footer.pug
      include ./components/entry.pug
    include ./common/overlay-menu.pug

    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
