script(type="text/x-template")#skills-list   
  ul.skills-list
    li.skills-list__item(v-for="skillsGroupObj in skills")
      skillsRow(
        :skillsGroupObj="skillsGroupObj"
      )

script(type="text/x-template")#skills-item
  .skills-row
    .skills-list__title {{skillsGroupObj.skillsGroup}}
    ul.skills
      li.skills-list__item(v-for="(skillPercentage, skillTitle) in skillsGroupObj.skills")
        skill(
          :skillPercentage="skillPercentage"
          :skillTitle="skillTitle"
        )

script(type="text/x-template")#skill            
  .skill
    svg(viewBox="0 0 120 120" preserveAspectRation="none").skill__figure
      circle(cx="60" cy="60" r="50").skill__circle.skill__circle--under
      circle(cx="60" cy="60" r="50" ref="circle").skill__circle.skill__circle--above
    .skill__title {{skillTitle}}