.about {
    display: flex;
    position: relative;
    height: 100%;

    @include tablets {
        flex-direction: column;
        height: 100%;
    }

    &__col {
        width: 50%;

        @include tablets {
            width: 100%;
        }

        &-content {
            margin: 20px 20px 0 20px;

            @include pc-screen-s {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            @include tablets {
                flex-direction: column;
                margin: 0;
            }

            &--display-flex {
                display: flex;
            }
            &--right {
                margin-left: 40px;

                @include tablets {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        &--background-white {
            background: $white;
        }
        &--background-beige {
            background: $beige;
        }
    }

    &__desc-text {
        margin-bottom: 30px;
        @include tablets {
            max-width: 530px;
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    &__left-title {
        position: relative;
        text-align: center;
        &--width {
            width: 50%;

            @include pc-screen-s {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            @include tablets {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 30px 0;
            }
        }
        &-bg-picture {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;

        }
        &-bg-svg {
            fill: rgba($light-grey, 0.5);
            height: 100%;
            width: 100%;
        }
    }
    &__user-info {
        margin-left: 10px;

        &--width {
            max-width: 50%;

            @include pc-screen-s {
                max-width: 100%;
                margin: 0 40px;
            }

            @include tablets {
                max-width: 100%;
                margin: 0;
            }
        }
    }
}

.about-skills-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 350px;

    @include tablets {
        margin: 50px 0 30px;
        max-width: 350px;
    }
}

.about-skills-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}