.about {
    height: 100vh;
    display: flex;

    &__col {
        position: relative;
        width: 50%;
    
        &--background-white {
            background: $white;
        }
        &--background-beige {
            background: $beige;
        }
        &--display-flex {
            display: flex;
        }
        &-svg {
            position: absolute;
            top: -15px;
            left: 40px;
        }

        &__left-svg {
            fill: hsla(180,1%,43%,.07);
            max-height: 100%;
        }
    }
    &__left-title {
        text-align: center;
        margin-top: 10px;
        &--width {
            width: 50%;
        }
    }
    &__user-info {
        margin: 30px 20px 0 20px;
        &--width {
            width: 50%;
        }
    }
}

.user-info {
    &__avatar {
        max-width: 440px;
        &-img {
            max-width: 100%;
        }
    }
    &__text p {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}