.blog__nav {
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        text-align: right;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            .blog__nav__text {
                color: $cyan;
                font-weight: 500;
                transition: 0.3s;
            }
        }
    }
}