.blog__nav {
    position: sticky;
    top: 0;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        text-align: right;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover .blog__nav__link {
            color: $cyan;
            font-weight: 500;
        }  
    }
    &__link {
        color: $text-color;
        position: relative;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:after {
            content: "";
            position: absolute;
            right: -20px;
            width: 4px;
            background-color: $cyan;
            display: block;
            transition: 0.3s;
        }
        &.is-active:after {
            bottom: 0;
            top: 0;
            transition: 0.3s;
        }
        &:hover:after {
            bottom: 0;
            top: 0;
            transition: 0.3s;
        }
    }
}