.blog__nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    margin-top: 20px;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        text-align: right;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        color: $text-color;
        position: relative;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 0.3s;
        &:after {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 0;
            top: 0;
            width: 4px;
            background-color: transparent;
            display: block;
            transition: 0.3s;
        }
        &.is-active:after,
        &:hover:after {
            background-color: $cyan;
            transition: 0.3s;
        }
        &.is-active,
        &:hover {
            color: $cyan;
            font-weight: bold;
            transition: 0.3s;
        }
    }
}