.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    background: rgba($grey, 0.8);
    flex-direction: column;
    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid $medium-grey;
        &:last-child {
            border-bottom: none;
        }
    }
    &__col {
        &--margin-right {
            margin-right: 20px;
        }
    }
    &__nav {
        &__list {
            display: flex;
        }
        &__item {
            margin-left: 40px;
            &:first-child {
                margin-left: 0;
            }
        }
        &__link {
            color: $white;
            font-weight: 500;
            transition: 0.3s;
            &:hover {
                color: $cyan;
                transition: 0.3s;
            }
        }
    }
}

