.hero {
    background: url('./assets/images/bg/hero.png') center center / cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero__socials {
    position: absolute;
    top: 30px;
    left: 30px;
}

.hero__menu {
    position: absolute;
    top: 30px;
    right: 30px;
}

.hero__content {
    width: 100%;
    position: relative;
}

.hero__user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-svg {
    width: 100%;
    height: 250px;
    fill: $light-grey;
    opacity: 0.1;
}

.hero__arrow-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}