.reviews {
    height: 100vh;
    &__title {
        position: relative;
        &__bg-picture {
            position: absolute;
            top: 70px;
            left: 50%;
            transform: translate(-50%, -50%);
            &__svg {
                fill: rgba($light-grey, 0.5);
                height: 100%;
                width: 400px;
            }
        }
    }
    &__content {
        background: url('./assets/images/bg/reviews.png') center center / cover no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__row {
        display: flex;
        width: 800px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__col {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__pirson {
        display: flex;
        align-items: center;
        &__avatar {
            width: 77px;
            height: 77px;
            border-radius: 50%;
            &--kov {
                background: url('./assets/images/content/reviews/kov.jpg') center center / cover no-repeat;
            }
            &--sab {
                background: url('./assets/images/content/reviews/sab.jpg') center center / cover no-repeat;
            }
        }
        &__desc {
            padding-left: 10px;
        }
        &__title {
            color: $cyan;
            font-weight: bold;
        }
        &__text {
            color: $cyan;
        }
    }
    &__text {
        margin-bottom: 20px;
    }
    &__feedback {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            position: relative;
            background-color: rgba($light-grey, 0.3);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;  
        }
        &__form {
            width: 100%;
            &__col {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            &__block {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 10px;
                }
            }
            &__input {
                width: 100%;
                border: 0;
                border-radius: 5px;
                padding: 10px;
            }
            &__textarea {
                width: 100%;
                border: 0;
                resize: none;
                border-radius: 5px;
                padding: 10px;
            }
        }
        &__buttons {
            width: 100%;
            display: flex;
        }
        &__button {
            flex: 1;
            text-align: center;
            color: white;
            background-color: $cyan;
            padding: 12px;
            cursor: pointer;
            display: block;
            opacity: 0.8;
            font-weight: 500;
            transition: 0.3s;
            &:hover {
                background-color: #009884;
                transition: 0.3s;
            }
            &--send {
                border-bottom-left-radius: 5px;
                border-right: 1px solid $light-grey;
            }
            &--clear {
                border-bottom-right-radius: 5px;
                border-left: 1px solid $light-grey;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
    &__arrow-up {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}