.socials {
    &--welcome {
        margin-top: 35px;
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        &--footer {
            border: 1px solid $medium-grey;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            &:hover {
                background: $white;
                transition: 0.3s;
                & .socials__icon--footer {
                    fill: $grey;
                    transition: 0.3s;
                }
            }
        }
    }
    &__icon {
        fill: rgba($white, 0.5);
        width: 25px;
        height: 20px;
        transition: 0.3s;
        &--header {
            &:hover {
                transition: 0.3s;
                fill: rgba($white, 1);
            }
        }
        &--welcome {
            fill: rgba($cyan, 0.5);
            transition: 0.3s;
            &:hover {
                fill: rgba($dark-cyan, 1);
                transition: 0.3s;
            }
        }
        &--footer {
            fill: $medium-grey;
            transition: 0.3s;
        }
    }  
}

