h1.title {
    font-family: 'bernier';
    font-size: 63px;
    position: relative;
    z-index: 99;

    // &::after,
    // &::before {
    //     content: "";
    //     position: absolute;
    //     height: 5px;
    //     width: 22px;
    //     background: #373e42;
    //     opacity: 0.2;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    // }
    // &::after {
    //     left: 5px;
    // }
    // &::before {
    //     right: 5px;
    // }
}

h2.subtitle {
    font-family: 'bernier';
    font-size: 35px;
    position: relative;
    &--text-center-margin {
        text-align: center;
        margin-bottom: 20px;
    }

    // &::after,
    // &::before {
    //     content: "";
    //     position: absolute;
    //     height: 5px;
    //     width: 22px;
    //     background: #373e42;
    //     opacity: 0.2;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    // }
    // &::after {
    //     right: 90px;
    // }
    // &::before {
    //     left: 90px;
    // }
}

h3.skills-row__title {
    font-size: 28px;
    font-weight: 500;
    color: $text-color;
    margin-bottom: 10px;
}

h4.skill__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 500;
    color: $cyan;
}