.triangles {
    position: absolute;
    bottom: 100%;
    width: 100%;
    &__svg {
        display: block;
        fill: white;
        &-left {
            fill: $white;
        }
        &-right {
            fill: $beige;
        }
        &--white {
            fill: white;
        }
        &--works {
            fill: #faf8f0;
        }
    }
}