.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__title {
        color: $white;
        font-size: 35px;
        font-weight: 500;
        &--welcome {
            color: $title-color;
            font-size: 28px;
        }
        &--blog {
            font-family: 'bernier';
            font-size: 63px;
        }
    }
    &__text {
        color: $white;
        font-size: 16px;
        font-weight: normal;
        opacity: 0.8;
        &--welcome {
            color: $text-color;
            opacity: 1;
        }
    }
    &__pic-img {
        border-radius: 100%;
        width: 140px;
        height: 140px;
        margin-bottom: 15px;
    }
}