.works {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #faf8f0;
        &__bg-picture {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &__svg {
                fill: rgba($light-grey, 0.5);
                height: 100%;
                width: 400px;
            }
        }
    }
}